body {
  background-color: #ABEDD8;
}

h1 {
  color: #48466d;
}

h3 {
  color: #3d84a8;
}

hr {
  border-style: dotted none none;
  border-top-width: 5px;
  border-color: #46cdcf;
  border-width: 4px;
  height: 0;
  width: 89%;
}

.smaller-image {
  width: 200px;
}

.thick-blue-border {
  border-color: #3d84a8;
  border-width: 10px;
  border-style: solid;
  border-radius: 48%;
}

.table-blue-border {
  border-color: #3d84a8;
}
